PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/r_and_d_constructions_db
JWT_SECRET=rd_constructions_super_secret_jwt_key_2026
JWT_EXPIRES_IN=30d
NODE_ENV=development
COMPANY_NAME="R&D CONSTRUCTIONS"
